{{ define "index" }}

{{ template "header"}}

<main class="px-3">
  <h1>NEWS</h1>
 
  <p class="lead">
    {{ range. }}
    <div class="container" style="padding-top:10px; padding-bottom: 10px;">
    <div style=" border-color: #a5a5a577; background-color:#575a5e2f;" class="card">
      <div class="card-body">
        <div class="row">
          <div class="d-flex justify-content-center">
          <h2 class="card-title">{{ .Title }}</h2>
      </div>
        <div style="position:absolute; padding-top: 0px;"><div class="d-flex justify-content-end">
          <form action="/articles/{{ .Id }}/delete" method="post">
              <button class="btn form-control"  style="border-color: #ffffff;"><i style="color:#ffffff;" class="fa fa-times" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>
      <p class="card-text">{{ .Anons }}</p>
      <a href="/articles/{{ .Id }}" class="btn btn-danger">Читать далее!</a>
    </div>
    </div>
  </div>
    {{ else }}
    <p class="lead">Статьей нет!</p>
    {{ end }}
    <!-- <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a> -->
  </p>
</main>

{{ template "footer"}}

{{ end }}