{{ define "index" }}

{{ template "header"}}

<main class="px-3">
  <h1>Cover your page.</h1>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
  </p>
</main>
<!-- <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome to our page</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut excepturi quod accusantium cum iste error odit dignissimos rem 
      dicta molestiae. In saepe expedita explicabo, perspiciatis vitae provident corporis velit nulla. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut excepturi quod accusantium cum iste error odit dignissimos rem 
      dicta molestiae. In saepe expedita explicabo, perspiciatis vitae provident corporis velit nulla</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-grey bg-white">Learn more</a>
    </p>
</main> -->

{{ template "footer"}}

{{ end }}