{{ define "index" }}

{{ template "header"}}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"><div>
  
  <body class="d-flex h-100 text-center text-white bg-dark">
           
       
    <main class="px-3">
      <h1>Cover your page.</h1>
      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      <p class="lead">

        {{ range. }}
        <div class="alert alert danger">
          <h2>{{ .Title }}</h2>
          <p>{{ .Anons }}</p>
          <a href="/post/{{ .Id }}" class="btn btn-danger">Читать далее!</a>
        </div>
        {{ else }}
        <p class="lead">Статьей нет!</p>
        {{ end }}
        
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
      </p>
    </main>
  </body>


  
{{ template "footer"}}

{{ end }}