{{ define "new" }}

{{ template "header"}}


    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto"> </header>
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Добавить информацию</h1>
        <form action="/articles/create" method="post">
            <input type="text" name="title" id="title" placeholder="Введите название статьи" class="form-control"><br>
            <textarea name="anons" id="anons" class="form-control" placeholder="Введите аннонс статьи" cols="30" rows="1"></textarea><br>
            <textarea name="full_text" id="full_text" class="form-control" placeholder="Введите полный текст статьи" cols="30" rows="10"></textarea><br>
            <button class="btn btn-danger">Добавить</button>
        </form>
       </main>

    
     
    
    


{{ template "footer"}}

{{ end }}